@use 'components/styles/main.module.scss' as *;
.o_media_and_paragraph{
    overflow: hidden;

    .row{
        align-items: center;
        gap: 20px;
    }
    &__image_container{
        position: relative;
        padding-bottom: 100%;
    }

    &__content_container{
        @include flex(column, center, center);
        gap: 20px;
    }

    
}


@media (min-width: 768px){
    .o_media_and_paragraph{
        .row{
            gap: unset;
        }
        &__image_container{
            padding-bottom: 56%;
        }

        &__content_container{
            gap: 40px;
        }
    }
}